* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}
.file-box {
  width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-top: 20px;
  margin: 0 auto 40px;
}
.file-box .file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-box p {
  text-align: center;
  padding-top: 5px;
  margin-bottom: 10px;
}

.a-upload {
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}

.a-upload input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer
}

.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none
}
.code {
  text-align: center;
}
.code img {
  max-width: 80%;
}
.result {
  width: 300px;
  text-align: center;
  padding: 20px;
  background-color: #fdf6ec;
  margin: auto;
}

.result .result-title {
  margin-bottom: 10px;
  color: #409eff;
}
.result #text {
  color: #e6a23c;
}